:root {
    --primary: #E30613;
    --secondary: #E35007;
    --black: #000;
    --white: #fff;
    --gray: #E6E6E6;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem);
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 400;
    font-size: clamp(3rem, 6.4vw, 4rem);
    line-height: 1.2em;
    text-align: inherit;
    max-width: 44rem;
    margin: 0 0 2rem 0;
    color: var(--white);
    position: relative;
}

h2 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 400;
    font-size: clamp(3rem, 3.2vw, 3.5rem);
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--black);
    position: relative;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 2.4vw, 1.75rem);
    line-height: 1.5em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--black);
    position: relative;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: clamp(32rem, 60vw, 42rem);
    margin: 0 0 clamp(2.5rem, 4vw, 3rem) 0;
    color: var(--black);
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    text-decoration: none;
}

span {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: clamp(1.2rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    color: var(--black);
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.button-solid {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--black);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
}
.button-solid:hover:before {
    width: 100%;
}

.fancybox__container {
    z-index: 1000;
}

.fancybox__container span{
    color: var(--white);
}

.fancybox__caption {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--white);
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body.open {
        overflow: hidden;
    }
    #navigation {
        width: 100%;
        box-sizing: border-box;
        padding: 0.75rem 1rem;
        background-color: var(--white);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 900;
    }
    #navigation:before {
        content: "";
        width: 100%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -1100;
        transition: height 0.5s, opacity 0.5s;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    #navigation.active:before {
        height: 150vh;
        opacity: 1;
    }
    #navigation.active .ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 0.15s;
    }
    #navigation.active .li {
        opacity: 1;
        transform: translateY(0);
    }
    #navigation .container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #navigation .logo {
        width: 40%;
        max-width: 9.125rem;
        height: 100%;
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    #navigation .logo img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }
    #navigation .toggle {
        /* 44px - 48px */
        width: clamp(2.75rem, 6vw, 3rem);
        height: clamp(2.75rem, 6vw, 3rem);
        margin: 0 0 0 auto;
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navigation .active .line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
    }
    #navigation .active .line2 {
        top: 50%;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        transform-origin: center;
    }
    #navigation .active .line3 {
        opacity: 0;
        bottom: 100%;
    }
    #navigation .box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
    }
    #navigation .line {
        width: 100%;
        height: 2px;
        background-color: #1a1a1a;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #navigation .line1 {
        top: 0;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
        transform-origin: center;
    }
    #navigation .line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    #navigation .line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
    }
    #navigation .ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 2.4em;
        background-color: var(--white);
        box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transform: scaleY(0);
        transition: transform 0.4s, opacity 0.3s;
        transform-origin: top;
    }
    #navigation .ul {
        width: 100%;
        height: auto;
        max-height: 65vh;
        margin: 0;
        padding: 3rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        overflow: scroll;
    }
    #navigation .li {
        text-align: center;
        list-style: none;
        width: 100%;
        margin-right: 0;
        opacity: 0;
        /* transition from these values */
        transform: translateY(-4.375rem);
        transition: transform 0.6s, opacity 0.9s;
    }
    #navigation .li:nth-of-type(1) {
        transition-delay: 0.05s;
    }
    #navigation .li:nth-of-type(2) {
        transition-delay: 0.1s;
    }
    #navigation .li:nth-of-type(3) {
        transition-delay: 0.15s;
    }
    #navigation .li:nth-of-type(4) {
        transition-delay: 0.2s;
    }
    #navigation .li:nth-of-type(5) {
        transition-delay: 0.25s;
    }
    #navigation .li:nth-of-type(6) {
        transition-delay: 0.3s;
    }
    #navigation .li:nth-of-type(7) {
        transition-delay: 0.35s;
    }
    #navigation .li:nth-of-type(8) {
        transition-delay: 0.4s;
    }
    #navigation .li:nth-of-type(9) {
        transition-delay: 0.45s;
    }
    #navigation .li:nth-of-type(10) {
        transition-delay: 0.5s;
    }
    #navigation .li:nth-of-type(11) {
        transition-delay: 0.55s;
    }
    #navigation .li:nth-of-type(12) {
        transition-delay: 0.6s;
    }
    #navigation .li:nth-of-type(13) {
        transition-delay: 0.65s;
    }
    #navigation .li-link {
        /* 16px - 24px */
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: var(--black);
        display: inline-block;
        position: relative;
    }
    #navigation .li-link:before {
        /* active state underline */
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        display: none;
        position: absolute;
        bottom: -0.125rem;
        left: 0;
    }
    #navigation .li-link.active:before {
        display: block;
    }
    #navigation .button-solid {
        display: none;
    }
  }
  /*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0.75rem 1rem;
        background-color: var(--white);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 900;
    }
    #navigation .container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    }
    #navigation .toggle {
        display: none;
    }
    #navigation .logo {
        width: 40%;
        max-width: 9.125rem;
        height: 100%;
        /* margin-right auto pushes everything away from it to the right */
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #navigation .logo img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }
    #navigation .ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 20px - 36px */
        gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }
    #navigation .li {
        list-style: none;
        padding: 2rem 0;
        /* prevent flexbox from squishing it */
        flex: none;
    }
    #navigation .li-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--black);
        display: block;
        position: relative;
    }
    #navigation .li-link:hover:before {
        width: 100%;
    }
    #navigation .li-link.active:before {
        width: 100%;
    }
    #navigation .li-link:before {
        /* active state underline */
        content: "";
        width: 0%;
        height: 2px;
        background: var(--primary);
        opacity: 1;
        display: block;
        position: absolute;
        bottom: 0rem;
        left: 0;
        transition: width 0.3s;
    }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero {
        text-align: left;
        padding: clamp(9rem, 25.95vw, 18.75rem) clamp(3.75rem, 7.82vw, 6.25rem) clamp(8.125rem, 12.5vw, 25rem);
        position: relative;
        z-index: 1;
    }
    #hero .background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    #hero .background:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--black);
        opacity: 0.7;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }
    #hero .background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #hero .container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }
    #hero p {
        color: var(--white);
    }
}

/*-- -------------------------- -->
<---         Gallery            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    #gallery .container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery .content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #gallery .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    #gallery .picture {
        width: 100%;
        /* changes at tablet */
        height: 100vw;
        max-height: 25rem;
        display: block;
        position: relative;
        z-index: 1;
        grid-column: span 4;
    }
    #gallery .picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #gallery .content {
        max-width: 19rem;
    }
    #gallery .gallery {
        height: auto;
    }
    #gallery .picture {
        height: 100%;
        max-height: 100%;
        /* 280px - 420px */
        min-height: clamp(17.5rem, 37vw, 26.25rem);
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing {
        padding: var(--sectionPadding);
    }
    #pricing .container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #pricing .content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #pricing .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 1.25rem;
        /* 28px - 40px */
        row-gap: clamp(1.75rem, 3vw, 2.5rem);
    }
    #pricing .menu-group {
        width: 100%;
        max-width: 39.375rem;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #pricing .menu-item {
        list-style: none;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
    }
    #pricing .h3 {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.5rem;
        position: relative;
    }
    #pricing .h3:before {
        /* grey line */
        content: "";
        width: 100%;
        height: 2px;
        background: #e8e8e8;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0.8125rem;
        left: 0;
        z-index: -1;
    }
    #pricing .service {
        max-width: 25rem;
        padding-right: 0.5rem;
        background-color: var(--white);
    }
    #pricing .price {
        font-size: 1rem;
        font-weight: 400;
        padding-left: 0.5rem;
        background-color: var(--white);
    }
    #pricing .menu-text {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: inherit;
        margin: 0;
        color: var(--black);
    }
    #pricing .picture {
        width: 100%;
        min-height: 23.75rem;
        display: block;
        order: -1;
        position: relative;
    }
    #pricing .picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing .container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #pricing .menu-group {
        width: 100%;
    }
    #pricing .picture {
        max-width: 32.5625rem;
    }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact {
        padding: var(--sectionPadding);
        background-color: var(--white);
        position: relative;
        z-index: 1;
    }
    #contact .container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        column-gap: auto;
        /* 48px - 64px */
        gap: clamp(2rem, 3vw, 3rem);
        position: relative;
    }
    #contact .content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #contact .ul {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: relative;
    }
    #contact .li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
    }
    #contact .li:hover .icon-wrapper {
        transform: scale(1.1);
    }
    #contact .link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        color: #767676;
        display: block;
        position: relative;
    }
    #contact .link:hover {
        text-decoration: underline;
    }
    #contact .icon-wrapper {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        transition: transform 0.3s;
    }
    #contact .icon {
        width: 1.5rem;
        height: auto;
        display: block;
    }
    #contact .form {
        width: 100%;
        max-width: 39.375rem;
        padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
        box-sizing: border-box;
        background-color: var(--gray);
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }
    #contact .label {
        width: 100%;
        color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact .input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--black);
        background-color: var(--white);
        border-radius: 0.5rem;
        border: none;
        box-sizing: border-box;
    }
    #contact .input::placeholder {
        color: var(--black);
        opacity: 0.5;
    }
    #contact .textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
        resize: none;
    }   
    #contact .submit {
        width: 100%;
        min-width: 12.5rem;
        border: none;
    }
    #contact .submit:hover {
        color: var(--white);
        cursor: pointer;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact .container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }
    #contact .content {
        width: 47%;
        flex: none;
    }
    #contact .submit {
        width: auto;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact .form {
        width: 46%;
        max-width: 36.125rem;
    }
    #contact .submit {
        width: auto;
    }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #contact .graphic {
        display: block;
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #footer {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;
    }
    #footer .container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer .top {
        width: 100%;
        margin-bottom: clamp(2rem, 4vw, 2.5rem);
        padding-bottom: clamp(2rem, 4vw, 2.5rem);
        border-bottom: 1px solid #484848;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    #footer .ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 0.5rem;
        /* 24px - 36px */
        column-gap: clamp(1.5rem, 4vw, 2.5rem);
    }
    #footer .li {
        list-style: none;
    }
    #footer .link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: #bababa;
        display: block;
        transition: color 0.3s;
    }
    #footer .link:hover {
        color: var(--primary);
    }
    #footer .logo {
        width: 10.5rem;
        height: auto;
        display: block;
    }
    #footer .logo-img {
        width: 100%;
        height: auto;
        display: block;
    }
    #footer .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer .social-link {
        width: 2rem;
        height: 2rem;
        background-color: #484848;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }
    #footer .social-link:hover {
        background-color: var(--primary);
    }
    #footer .social-link:hover .social-icon {
        filter: grayscale(1) brightness(1000%);
        opacity: 1;
    }
    #footer .social-icon {
        width: 0.75rem;
        height: auto;
        display: block;
        opacity: 0.6;
        transition: opacity 0.3s;
    }
    #footer .copyright {
        font-size: 1rem;
        color: #bababa;
        line-height: 1.5em;
        margin: 0;
        display: block;
    }
    #footer .copyright-link {
        font-size: 1rem;
        text-decoration: none;
        color: #bababa;
        transition: color 0.3s;
    }
    #footer .copyright-link:hover {
        color: var(--primary);
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #footer .top {
        flex-direction: row;
        justify-content: space-between;
    }
    #footer .bottom {
        flex-direction: row;
        justify-content: space-between;
    }
    #footer .flex {
        margin: 0 auto;
    }
}
